@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
    background: linear-gradient(-45deg, #000000, #5f0a09, #000000, #8a1137);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: 0;
}

h1, h2 {
    font-family: 'Alata', sans-serif;
    margin: 0;
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.315);
    padding: 15px;
}

#title {
    padding: 20px;
    font-size: 50px;
}

.artist img {
    width: 200px;
    border-radius: 5px;
}

#artist-img {
    width: 400px;
    margin-left: 30px;
    border-radius: 5px;
}

.genre {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    padding: 15px;
    border-radius: 15px;
    /* margin: 10px; */
}

#top {
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-around;
}



.genres {
    display: flex;
    justify-content: space-evenly;
}

.albums {
    display: flex;
    justify-content: center;
}

.album {
    /* background-color: #000000; */
    color: white;
    margin: 20px;
    border-radius: 5px;
    /* width: 250px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.album-overlay {
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000c0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Alata', sans-serif;
    opacity: 0;
    transition: opacity 0.25s;
}

.album-overlay:hover {
    opacity: 1;
}
.album img{
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.album:hover {
    box-shadow: 0 0 10px 0.5px white;
    cursor: pointer;
}

#album-title {
    margin: 20px;
    text-align: center;
}
