@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
    background: linear-gradient(-45deg, #000000, #5f0a09, #000000, #8a1137);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: 0;
}

h1, h2 {
    font-family: 'Alata', sans-serif;
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.315);
    padding: 15px;
}

#title {
    color: white;
}

.genres {
    display: flex;
}

.genre {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
}
